<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<configSections>
				<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
		</configSections>
		<specFlow>
				<unitTestProvider name="MsTest" />
		</specFlow>
		<appSettings>
				<add key="Search ..." value="cssselector:input.search-field"/>
				<add key="Get Weather" value="id:getWeather"/>
				<add key="city" value="id:city"/>
				<add key="panel-heading" value="cssselector:h3.panel-heading"/>
		</appSettings>
</configuration>